# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# LWC VSCode autocomplete
**/lwc/jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env

# Python Salesforce Functions
**/__pycache__/
**/.venv/
**/venv/
force-app/main/default/reportTypes/prm_unique_portal_crt.reportType-meta.xml
force-app/main/default/dashboards/prm_channel_dashboard_folder/prm_ch_dashboards_sub_folder.dashboardFolder-meta.xml
force-app/main/default/dashboards/prm_channel_dashboard_folder/prm_ch_dashboards_sub_folder/prm_spring24_dashboardsSPLIT1707583101143.dashboardFolder-meta.xml
force-app/main/default/dashboards/prm_channel_dashboard_folder/prm_ch_dashboards_sub_folder/prm_winter24_dashboardsSPLIT1707583101143.dashboardFolder-meta.xml
force-app/main/default/dashboards/prm_channel_dashboard_folder/prm_ch_dashboards_sub_folder/prm_spring24_dashboardsSPLIT1707583101143/prm_spring24_ch_marketing_dashboardSPLIT1707583101143.dashboard-meta.xml
force-app/main/default/dashboards/prm_channel_dashboard_folder/prm_ch_dashboards_sub_folder/prm_winter24_dashboardsSPLIT1707583101143/cmc_spring_24_cmc_home_dashboard.dashboard-meta.xml
force-app/main/default/dashboards/prm_channel_dashboard_folder/prm_ch_dashboards_sub_folder/prm_winter24_dashboardsSPLIT1707583101143/prm_winter24_ch_sales_dashboardSPLIT1707583101143.dashboard-meta.xml
force-app/main/default/reportTypes/prm_total_portal_login_crt.reportType-meta.xml
force-app/main/default/reportTypes/prm_partner_marketing_budget_crt.reportType-meta.xml
force-app/main/default/reportTypes/prm_partner_fund_request_crt.reportType-meta.xml
force-app/main/default/reportTypes/MDF_Claim_Request_Crt.reportType-meta.xml
force-app/main/default/reportTypes/flow_orchestration_work_item_ootb_crt_two_four_eight.reportType-meta.xml
force-app/main/default/reportTypes/flow_orchestration_step_run_ootb_crt_two_four_eight.reportType-meta.xml
force-app/main/default/reportTypes/flow_orchestration_stage_run_ootb_crt_two_four_eight.reportType-meta.xml
force-app/main/default/reportTypes/flow_orchestration_run_ootb_crt_two_four_eight.reportType-meta.xml
force-app/main/default/reportTypes/flow_orchestration_log_ootb_crt_two_four_eight.reportType-meta.xml
force-app/main/default/reports/prm_channel_reports_folder/prm_ch_reports_sub_folder/prm_winter24_reportsSPLIT1707583101143/prm_winter24_ch_sales_reports_folderSPLIT1707583101143.reportFolder-meta.xml
force-app/main/default/reports/prm_channel_reports_folder/prm_ch_reports_sub_folder/prm_spring24_reportsSPLIT1707583101143/prm_spring24_pt_engagement_reports_folderSPLIT1707583101143.reportFolder-meta.xml
force-app/main/default/reports/prm_channel_reports_folder/prm_ch_reports_sub_folder/prm_spring24_reportsSPLIT1707583101143/prm_spring24_ch_marketing_reports_folderSPLIT1707583101143.reportFolder-meta.xml
force-app/main/default/reports/prm_channel_reports_folder/prm_ch_reports_sub_folder/prm_winter24_reportsSPLIT1707583101143.reportFolder-meta.xml
force-app/main/default/reports/prm_channel_reports_folder/prm_ch_reports_sub_folder/prm_spring24_reportsSPLIT1707583101143.reportFolder-meta.xml
force-app/main/default/reports/prm_channel_reports_folder/prm_ch_reports_sub_folder.reportFolder-meta.xml
force-app/main/default/flexipages/Fake_Product_Record_Page.flexipage-meta.xml
